<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_PorkysSoap" maxBufferSize="5242880" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="WS_CPFSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="WS_CPFSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.porkys.com.ar/ws_porkys.asmx" binding="basicHttpBinding" bindingConfiguration="WS_PorkysSoap" contract="WS_Porkys.WS_PorkysSoap" name="WS_PorkysSoap"/>
      <endpoint address="https://w280432.ferozo.com/WS_CPF.asmx" binding="basicHttpBinding" bindingConfiguration="WS_CPFSoap" contract="CPFWebService.WS_CPFSoap" name="WS_CPFSoap"/>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="CENPROFAREntities" connectionString="metadata=res://*/conexionDb.csdl|res://*/conexionDb.ssdl|res://*/conexionDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KAIZEN-SERVIDOR;initial catalog=CENPROFAR;user id=sa;password=industrial;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CENPROFAR.My.MySettings.CENPROFARConnectionString" connectionString="Data Source=NACHO-PC;Initial Catalog=CENPROFAR;User ID=sa;Password=industrial" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
